<div class="container">
    <div class="content">
        <div class="logo">
        </div>
      <mat-list color="primary">
          <p class="center">
            <mat-list-item >
                <h4 mat-line>Repensez à la situation qui a fait émerger cette émotion</h4>
            </mat-list-item>
          </p>
          <p class="center">
            <mat-list-item >
                <h4 mat-line >Ressentez la sensation corporelle qu’elle suscite</h4>
            </mat-list-item>
          </p>
          <p class="center">
            <mat-list-item >
                <h4 mat-line>Avez-vous déjà ressenti cette sensation corporelle avant aujourd’hui ?</h4>
            </mat-list-item>
          </p>
          <p class="center">
            <mat-list-item >
                <p class="center">
                    <button mat-raised-button color="primary" (click)="onSubmitYes()">
                        Oui
                    </button>
                    <button  mat-raised-button color="accent" (click)="onSubmitNo()">
                        Non
                    </button>
                </p>
            </mat-list-item>
          </p>
        
      </mat-list>
    </div>
</div>