<div class="container pt-5">
  <div class="row mt-3">
    <div class="col">
      <div class="d-flex justify-content-center">
        <p>
          Repensez à la situation qui a fait émerger cette émotion
        </p>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="d-flex justify-content-center">
        <p>
          Ressentez la sensation corporelle qu’elle suscite
        </p>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="d-flex justify-content-center">
        <p>
          Avez-vous déjà ressenti cette sensation corporelle
        </p>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="d-flex justify-content-end">
        <button mat-raised-button color="primary" (click)="onSubmitYes()">
          Oui
        </button>
      </div>
    </div>
    <div class="col">
      <div class="d-flex justify-content-start">
        <button  mat-raised-button color="accent" (click)="onSubmitNo()">
          Non
        </button>
      </div>
    </div>
  </div>
</div>        