<div class="container pt-5">
  <div class="row mt-3">
    <div class="col center">
      <h1 class="center"><strong> {{emotionSelected}} </strong></h1>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col center">
      <p class="center">Notez de 1 à 10 votre ressenti</p>
      <hr>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-6">
      <div class="d-flex justify-content-end">
        <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        tickInterval="1"
        min="1"
        max="10" 
        (input)="onSliderChangeEnd($event)" 
        [value]="value"
        vertical>
        </mat-slider>
      </div>
    </div>
    <div class="col-6">
      <div>à l'extrême</div>
      <div class="bottom">un peu</div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-4"></div>
    <div class="col-4 center">
      <button  mat-raised-button color="primary" (click)="onSubmit()">
        Finaliser
      </button>
    </div>
  </div>
</div>



