<div class="container pt-5">
  <div class="row mt-3">
    <div class="col-1">
    </div>
    <div class="col-3 my-auto center">
      <button mat-raised-button color="link" (click)="onSubmitFeeling()">Je me sens</button>
    </div>
    <div class="col-2">
    </div>
    <div class="col-4 center">
        <img src="../../assets/images/im_feeling_person.png" alt="">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-1">
    </div>
    <div class="col-3 my-auto center">
      <button mat-raised-button color="link" (click)="onSubmitTelling()">Je raconte</button>
    </div>
    <div class="col-2">
    </div>
    <div class="col-4 center">
        <img src="../../assets/images/telling_person.png" alt="">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-1">
    </div>
    <div class="col-3 my-auto center">
      <button mat-raised-button color="link" (click)="onSubmitFeel()">Je ressens</button>
    </div>
    <div class="col-2">
    </div>
    <div class="col-4 center">
        <img src="../../assets/images/feelings_person.png" alt="">
    </div>
  </div>
  <div class="row mt-5 mb-3">
    <div class="col"> 
      <button class="float-right" mat-raised-button color="primary" (click)="onSubmit()">Suivant</button>
    </div>
  </div>
</div>