<div class="container">
    <div class="content">
        <div class="logo">
        </div>
      <mat-list color="primary">
        <mat-list-item>
            <p class="center">
                <button mat-raised-button color="accent" (click)="onSubmitFeeling()">Je me sens</button>
            </p>
          </mat-list-item>

          <mat-list-item>
            <p class="center">
                <button mat-raised-button color="accent" (click)="onSubmitTelling()">Je raconte</button>
            </p>
          </mat-list-item>
          <mat-list-item>
            <p class="center">
                <button mat-raised-button color="accent" (click)="onSubmit()">Je ressens</button>
            </p>
          </mat-list-item>
      </mat-list>
    </div>
</div>