<div class="container">
  <div class="row">
    <div class="col center">
      <img src="../../../assets/images/attente-haut.jpg" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col center">
      <h1>Merci de votre inscription</h1>
    </div>
  </div>  
  <div class="row mt-3" *ngIf="authService.userData as user">
      <div class="col center">
        Nous avons envoyé un mail à l'adresse suivante: <strong>{{user.email}}</strong>.
      </div>
  </div>
  <div class="row mt-3" *ngIf="authService.userData as user">
    <div class="col center">
      Veuillez vérifier votre e-mail et cliquez sur le lien pour vérifier votre adresse e-mail.
    </div>
  </div>
  <div class="row mt-3" *ngIf="authService.userData as user">
    <div class="col center">
      <button mat-raised-button color="accent" (click)="authService.SendVerificationMail()">Renvoyer un mail de confirmation</button>
    </div>
  </div>
  <div class="row mt-3" *ngIf="authService.userData as user">
    <div class="col center">
      <span>Retourner sur ? <strong><span routerLink="/login">connexion</span></strong></span>
    </div>
  </div>
</div>











