<div class="container pt-5">
    <div class="row mt-3">
        <div class="col center">
            <h1>Méditation</h1>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="mt-5 mb-5 col center">
            <mat-icon mat-list-icon>fiber_manual_record</mat-icon>
        </div>
    </div>
    
        
    
    <div class="row mt-3">
        <div class="col-1 center"></div>
        <div class="col-2 center">
            <button mat-button (click)="audio.start(audio.track[1])" [disabled]="!audio.lunch ? 'true' : 'false'">
                <mat-icon mat-list-icon>skip_previous</mat-icon>
            </button>
        </div>
        <div class="col-2 center">
            <button mat-button (click)="audio.prev()" [disabled]="!audio.lunch ? 'true' : 'false'">
                <mat-icon mat-list-icon>chevron_left</mat-icon>
            </button>
        </div>
        <div class="col-2 center">
            <button mat-button *ngIf="!audio.lunch" (click)="audio.start(audio.track[0])">
                <mat-icon mat-list-icon>play_circle_filled</mat-icon>
            </button>
            <button mat-button *ngIf="!audio.isPlaying && audio.lunch" (click)="audio.togglePlayer(false)">
                <mat-icon mat-list-icon>play_circle_filled</mat-icon>
            </button>
            <button mat-button *ngIf="audio.isPlaying">
                <mat-icon mat-list-icon  (click)="audio.togglePlayer(true)">pause</mat-icon>
            </button>
        </div>
        <div class="col-2 center">
            <button  mat-button [disabled]="!audio.lunch ? 'true' : 'false'">
                <mat-icon mat-list-icon (click)="audio.stop()">stop</mat-icon>
            </button>
        </div>
        <div class="col-2">
            <button mat-button (click)="audio.next()" [disabled]="!audio.lunch ? 'true' : 'false'">
                <mat-icon mat-list-icon>chevron_right</mat-icon>
            </button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col center">
            <button mat-raised-button color="primary" (click)="onSubmit()">Suivant</button>
        </div>
    </div>
</div>
