<div class="displayTable">
    <div class="displayTableCell">
  
      <div class="authBlock">
        <h3>S'enregistrer</h3>
  
        <form [formGroup]="utilisateurForm" (ngSubmit)="authService.SignUp(userEmail.value, userPwd.value)">
          <div class="modal-body">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="adresse email" #userEmail required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="mot de passe" #userPwd required>
              </div>
              <div class="form-group">
                  <input type="text" placeholder="Nom" class="form-control" formControlName="nom"   >
              </div>
              <div class="form-group">
                <input type="text" placeholder="Prénom" class="form-control" formControlName="prenom"   >
              </div>
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Genre</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01" formControlName="genre"  >
                      <option value="Homme">Homme</option>
                      <option value="Femme">Femme</option>
                      <option value="ndp">Ne divulgue pas</option>
                  </select>
              </div>
              <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" formControlName="confidentialite">
                  <label class="custom-control-label" for="customSwitch1">
                      <span *ngIf="utilisateurForm.value.confidentalite" class="text-success">Confidentialité</span>
                      <span *ngIf="!utilisateurForm.value.confidentalite" class="text-danger">Confidentialité</span>
                  </label>
                </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
              <button type="submit" class="btn btn-primary"  [disabled]="utilisateurForm.invalid">Enregistrer</button>
          </div>
      </form>
  
        <div class="formGroup">
          <input type="button" class="btn btnPrimary" value="s'enregistrer" (click)="authService.SignUp(userEmail.value, userPwd.value)">
        </div>
  
        <div class="formGroup">
          <span class="or"><span class="orInner">ou</span></span>
        </div>
  
        <!-- Continue with Google -->
        <div class="formGroup">
          <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
            <i class="fab fa-google-plus-g"></i>
            avec Google
          </button>
        </div>
  
        <!-- Continue with Facebook -->
        <div class="formGroup">
          <button type="button" class="btn facebookBtn" (click)="authService.FacebookAuth()">
            <i class="fab fa-facebook"></i>
            avec Facebook
          </button>
        </div>
      </div>
  
      <div class="redirectToLogin">
        <span>Déjà un compte? <span class="redirect" routerLink="/login">connexion</span></span>
      </div>
    </div>
  
  </div>