

<div class="container">
    <div class="content">
        <div class="logo">
        </div>
        <mat-list color="primary">
            <p class="header">
                Où est logée cette sensation physique dans votre corps ?
            </p>
            <mat-list-item>
              test
            </mat-list-item>  
              <mat-list-item>
                <p class="center">
                </p>
              </mat-list-item>
              <mat-list-item>
                <p class="center">
                    <button mat-raised-button color="accent">OK</button>
                </p>
              </mat-list-item>
          </mat-list>
    </div>
</div>