<div class="container">
  <mat-toolbar class="main-toolbar md-tall fill" style="min-height: 30px !important; height: 170px; margin-top: -60px;" color="primary">
    <div class="fill"></div>
  </mat-toolbar>
  <div class="content">
      <div class="logo">
      </div>
    <mat-list color="primary">
      <p class="header">
        Profile
      </p>
      <mat-list-item>
        <mat-list-item>
          <p class="center">
            <button mat-raised-button color="primary" (click)="authService.SignOut()">Déconnexion</button>
          </p>
        </mat-list-item>
      </mat-list-item>
    </mat-list>
  </div>

</div>