<div class="container">
  <div class="row">
    <div class="col center">
      <img src="../../../assets/images/attente-haut.jpg" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col center">
      <h1 *ngIf="error">{{error}}</h1>
      <h1 *ngIf="!error">Bienvenue sur votre profile<strong> {{prenom}} </strong></h1>
    </div>
  </div>
  <div class="row" *ngIf='error !== null'>
    <div class="col center">
      <h1>{{error}}</h1>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-7 ">
      <h3>Voici vos informations :</h3>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      Prénom : <strong>{{prenom}}</strong>
    </div>
  </div>
  <div class="row">
    <div class="col ">
      Nom : <strong>{{nom}}</strong>
    </div>
  </div>
  <div class="row">
    <div class="col">
      adresse mail : <strong>{{adresseMail}}</strong>
    </div>
  </div>
  <div class="row">
    <div class="col">
      date de naissance : <strong>{{dateNaissance}}</strong>
    </div>
  </div>
  <div class="row">
    <div class="col ">
      Genre : <strong>{{genre}}</strong>
    </div>
  </div>
  <div class="row">
    <div class="col ">
      confidentialité : <span *ngIf="confidentialite"><strong>Accepte d'enregistrer votre historique dans la base de donnée</strong></span>
                        <span *ngIf="!confidentialite"><strong>N'accepte pas d'enregistrer votre historique dans la base de donnée</strong></span>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col center">
      {{error}}
    </div>
  </div>
  <div class="row mt-3">
    <div class="col center">
      <button mat-raised-button color="link" (click)="onSubmitModifyProfile()">Modifier mon profil</button>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col center">
      <button mat-raised-button color="link" (click)="onSubmitModifyPassword()">Modifier mon mot de passe</button>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col center">
      <button mat-raised-button color="link" (click)="onSubmitModifyEmail()">Modifier mon adresse mail</button>
    </div>
  </div>
</div>


