<div class="container">
    <div class="content">
        <div class="logo">
        </div>
      <mat-list color="primary">
          <p class="center">
            <mat-list-item >
                <div class="center">
                    <mat-form-field>
                        <mat-label>Où et avec qui</mat-label>
                        <textarea matInput
                                  cdkTextareaAutosize
                                  cdkAutosizeMinRows="1"
                                  cdkAutosizeMaxRows="5"
                                  [(ngModel)]="defaultValue"
                                  #test></textarea>
                      </mat-form-field>
                </div>
            </mat-list-item>
            <br>
            <mat-list-item >
                <div class="center">
                    <mat-form-field appearance="legacy">
                        <mat-label>Date</mat-label>
                        <input matInput [matDatepicker]="picker" #date [(ngModel)]="defaultValueDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                </div>
            </mat-list-item>

            
          </p>
          <p class="center">
            <mat-list-item >
                <p class="center">
                    <button  mat-raised-button color="accent" (click)="onClick(test.value, date.value)">
                        Ajouter
                    </button>
                </p>
            </mat-list-item>
          </p>
          <p class="center">
              <strong>Liste : </strong>
            <mat-list-item *ngFor="let item of ressentieAll" (click)="onClick(item , date.value)">
                <p class="center" >
                    {{item}}
                </p>
            </mat-list-item>
          </p>
          <p class="center">
            <mat-list-item >
                <p class="center">
                    <button  mat-raised-button color="accent" (click)="onSubmit()">
                        Valider
                    </button>
                </p>
            </mat-list-item>
          </p>
        
      </mat-list>
    </div>
</div>