<div class="container pt-5">
    <div class="row mt-3">
        <div class="col-4"></div>
        <div class="col-4 center">
            <div class="form-group ">
                <label for="exampleFormControlTextarea1">Où et avec qui ?</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="defaultValue" #test></textarea>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-4"></div>
        <div class="col-4 center">
            <mat-form-field appearance="legacy">
                <mat-label>Quand ?</mat-label>
                <input matInput [matDatepicker]="picker" #date [(ngModel)]="defaultValueDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-4"></div>
        <div class="col-4 center">
            <button  mat-raised-button color="link" (click)="onClick(test.value, date.value)">
                Ajouter
            </button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-4"></div>
        <div class="col-4 center">
            Voici ce que vous avez ajouté.e (cliquez pour supprimer) :
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-4"></div>
        <div class="col-4">
            <ul class="list-group">
                <li class="center list-group-item" *ngFor="let item of ressentieAll" (click)="onClick(item , date.value)">{{item}}</li>
              </ul>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="d-flex align-items-end flex-column">
                <button  mat-raised-button color="primary" (click)="onSubmit()">
                    Suivant
                </button>
            </div>
        </div>
        
    </div>
</div>