<div class="container">
    <div class="row">
      <div class="col center">
        <img src="../../../assets/images/attente-haut.jpg" alt="">
      </div>
    </div>
    <div class="row">
        <div class="col center">
            <mat-form-field appearance="legacy">
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Votre mot de passe actuel" #oldPassword required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col center">
            <mat-form-field appearance="legacy">
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Votre nouveau mot de passe" #newPassword required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col center">
            <button mat-raised-button color="link" (click)="onSubmit(oldPassword.value, newPassword.value)">Nouveau mot de passe</button>
        </div>
    </div>
</div>
  
  
  