<div class="container">
  <div class="row">
    <div class="col center">
      <img src="../../../assets/images/attente-haut.jpg" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col center">
      <h1>Réinitialiser le mot de passe</h1>
    </div>
  </div>  
  <div class="row mt-3" *ngIf="authService.userData as user">
      <div class="col center">
        Mettez votre adresse mail pour recevoir un mail de réinitialisation de mot de passe
      </div>
  </div>
  <div class="row mt-3">
    <div class="col center">
      <mat-form-field appearance="legacy">
        <mat-label>Adresse mail</mat-label>
        <input matInput placeholder="Adresse mail" #mail required>
        <mat-icon matSuffix>mail_outline</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col center">
      <button mat-raised-button color="primary" (click)="authService.ForgotPassword(mail.value)">Envoyer</button>    </div>
  </div>
  <div class="row mt-3">
    <div class="col center">
      <span>Retourner sur ? <strong><span routerLink="/login">connexion</span></strong></span>
    </div>
  </div>
</div>