<div class="container pt-5">
    <div class="row mt-3">
        <div class="col-1">
        </div>
        <div class="col-10 center">
            <div class=" center" id="checklist" *ngFor="let test of emotions; let i = index" (click)="onClick(test, i)">
                <input id={{i}} type="checkbox" name="r" value={{i}} [checked]="checked[i]" disabled>
                <label for={{i}}>{{test}}</label>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-8">
            <div class="form-group center">
                <label for="exampleFormControlTextarea1">Ajouter vos émotions :</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"
                [(ngModel)]="defaultValue"
                #emotion></textarea>
              </div>
        </div>
        <div class="col-4 my-auto">
            <button  mat-raised-button color="link" (click)="onClickAdd(emotion.value)">
                Ajouter
            </button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-1">
        </div>
        <div class="col-10 center">
            <div class=" center" id="checklist" *ngFor="let emotionAdd of emotionsAdd; let sizeEmotion" (click)='onClickAdd(emotionAdd)'>
                <input id={{sizeEmotion}} type="checkbox" name="r" value={{sizeEmotion}}  checked>
                <label for={{sizeEmotion}}>{{emotionAdd}}</label>
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-4">
        <div class="col center">
            <button  mat-raised-button color="primary" (click)="onSubmitNext()">
                Suivant
            </button>
        </div>
    </div>
</div>
